.productCardImage {
  width: 100%;
  height: 16rem;
}

.title {
  height: 68px; /* Обмежує висоту заголовка */
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 50px;
}

.selectedImage {
  border: 1px solid orange;
  margin: 0 5px 5px 5px
}

.nothing {
  margin: 0 5px 5px 5px;
  border: 1px solid lightgray;
}

.logo{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.itemMainImage {
  width: 410px;
  height: 410px;
}

.itemSmallImage {
  width: 100px;
  height: 100px;
}

.centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinerSize {
  width: 100px;
  height: 100px;
  border-width: 10px;
}
