.centerItemBothWay {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxSizing {
  width: 100%;
  max-width: 400px;
  height: auto;
  padding: 20px;
}

.border {
  border: 1px solid lightgray;
  padding: 20px;
}

.centerItemAndMakeAsColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  height: 1px;
  width: 30%;
  min-width: 100px;
  background-color: black;
  margin: 0 10px
}

